* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/bg-login-full.jpg");
}

.container {
    position: relative;
    max-width: 650px;
    width: 100%;
    background: #ffff;
    padding: 25px;
    margin: 0 25px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(rgb(8, 8, 8), green, blue);
}

.container header {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: black;
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: rgb(5, 5, 5);
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
} 

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.form button {
    height: 55px;
    width: 100%;
    background-color: #00bcd4;
    color: #ffff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
}

.form button:hover {
    background-color: #82dce7;
}

/* @media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
} */