<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="./global.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="submited-form-page">
      <div class="frame-parent">
        <div class="terima-kasih-wrapper">
          <h1 class="terima-kasih">Terima kasih!</h1>
        </div>
        <div class="frame-group">
          <div class="form-telah-terkirim-wrapper">
            <h1 class="form-telah-terkirim">Form telah terkirim</h1>
          </div>
          <img
            class="line-mdcircle-twotone-to-conf-icon"
            loading="lazy"
            alt=""
            src="./public/linemdcircletwotonetoconfirmcircletwotonetransition.svg"
          />
        </div>
        <button class="home-button-container">
          <div class="kembali-ke-beranda">Kembali ke beranda</div>
        </button>
      </div>
    </div>
  </body>
</html>
