<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-popup">
        <div class="form-box">
            <div class="form-details">
                <!-- <h2>Welcome to Sistem Pengaduan Gizi</h2> -->
            </div>
            <div class="form-content">
                <h2>LOGIN</h2>
                <form action="/login" method="post">
                    <div class="input-field">
                        <input type="text" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <button type="submit">Log in</button>
                </form>
                <div class="bottom-link">
                    Jika anda pasien. Klik 
                    <a href="/complaints">Masuk</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>